@import "../_includes";

.typing-text::after {
  content: "|";
  color: $color-red;
  animation: blink ease 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  } 50% {
    opacity: 1;
  }
}

#q {
  position: fixed;
  bottom: 0;
  width: 100%;
}
#box {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  display: block;
  cursor: grab;
  background-color: $color-red;
}
#unbox {
  display: none;
  justify-content: center;
  align-items: center;
  input {
    margin: 0 auto;
    border: 10px solid $color-red;
    background-color: $color-red;
    color: #fff;
    padding: 10px;
    outline: none;
    font-size: 1.5em;
    width: 50%;
    &::placeholder {
      color: #ff2d54;
    }
  }
}

h1 {
  text-align: center;
}
