
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
  font-family: $font-main;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 10px 0 10px;

  background-color: #000;
  color: #fff;
}

